*,*:before,*:after{
    margin: 0;
    padding: 0;
}
/* #canvas{
    background:#c5c4c4;
    border: 2px solid #7caf65;
    height: 40vh;
    width: 100vw;
    color: bisque; 
} */

#container{
    display: grid;
    background-color: #3352aa;
    width: 100vw;
    height: 100vh;
}

h1{
    justify-self: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-space{
    margin-right: 1em;
    color: #f2900f;
}
 