@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Spirax');
/* 🥕 */
:root{
    /* --prime: #3352aa; */
     --prime: linear-gradient(120deg, #3352aa, #7065ff, #3098ff);
    --secondary-clr: #f2900f;
    --white: rgba(233, 233, 233, 0.801);
    --blk: #353535;
    --bradius: 8px;
}

/* 🌎 */
*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}
body{
    overflow-x: hidden;
}

#container{
    display: grid;
    font-family: Verdana, Geneva, Tahoma,   sans-serif;
    background: var(--prime);
    width: 100vw;
    min-height: 100vh;   
    grid-template-rows: 1fr 1fr 2fr 1fr;
    row-gap: 3rem;
}

h1{
    text-shadow: 2px 2px var(--blk);
    color: var(--secondary-clr);
    font-family: Spirax; 
    justify-self: center;
}


img{
    background-color: var(--white);
    box-shadow: 2px 5px 5px 2px var(--blk);
    display: block;
    border: 2px solid var(--secondary-clr);
    width: 100%;
    height: 18.5em;
    margin: auto;
    cursor: pointer;
    object-fit: cover;
}



i{
    margin-left: .3rem;
    color: var(--blk);
    font-size: 1.1rem;
}



#form{
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 1.1rem;
    text-align:justify;
}

#button{
    background-color: inherit;
    border:none;
}

#button:hover{
    cursor: pointer;
}
.fa-search-location{
    color: var(--secondary-clr);
}

.form-space{
    font-size: 1.1rem;
    margin-right: 1em;
    color: var(--secondary-clr);
}

#display-picks{ 
    display: grid;
    margin: auto; 
    grid-template-columns: repeat(3, minmax(10em, 1fr)); 
    row-gap: 2em;
    column-gap: 2em;
    grid-template-rows: repeat(auto, minmax(12rem,1fr)); 
    /* height: 100%; */
}

/* Flip card */
.flip-card{
    background-color: transparent;
    min-width:300px;    
    min-height: 300px; 
    border:1px solid inherit;
    /* causes 3d effect */
    perspective: 1000px; 
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(-180deg);
}

/* position front and back of card */
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
/* style the front */
.flipcard-front{
    background-color: inherit;
    color: black;
}

/* style the back */
.flip-card-back{
    background-color: #1e90ff;
    display: grid;
    color: var(--white);
    transform:rotateY(180deg);
    text-align: center;
    grid-template-rows: repeat(auto, 1fr);
}


/*curved svg path */
.flip-card-back svg{
    display: block;
}


footer{
    color: var(--white);
    font-family: Anton;   
    text-align: center;
    width: 100vw;
} 

span{
    margin-top: 2rem;
    justify-self: end;
}
