@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Spirax');
/* 🥕 */
:root{
    --prime: #3352aa;
    --secondary-clr: #f2900f;
    --white: rgba(233, 233, 233, 0.801);
    --blk: #353535;
    --bradius: 8px;
}

/* 🌎 */
*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

#container{
    display: grid;
    font-family: Verdana, Geneva, Tahoma,   sans-serif;
    background-color: var(--prime);
    width: 100vw;
    height: 100vh;
}

h1{
    text-shadow:  2px 2px var(--blk);
    color: var(--secondary-clr);
    font-family: Spirax; 
    justify-self: center;
}

figure{
    align-self: center;
    text-align: center;
    width:100vw;
}
img{
    background-color: var(--white);
    box-shadow: 2px 5px 5px 2px var(--blk);
    display: block;
    border: 2px solid var(--secondary-clr);
    border-radius: var(--bradius);
    max-height: 40vh;
    max-width: 90%;
    width:90%;
    height: auto;
    margin: 0 auto .5rem auto;
}

figcaption{
    display: inline;
    color: var(--white);
    font-size: .8rem;
    text-decoration: none;
}
i{
    margin-left: .3rem;
    color: var(--blk);
    font-size: 1.1rem;
}
figcaption:hover{
    color:var(--secondary-clr);
} 


form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-space{
    font-size: 1.1rem;
    margin-right: 1em;
    color: var(--secondary-clr);
}

#display-picks{ 
   height: 40vh;
   border: 1px solid black; 
}
/* .outer-wrapper{
    width: 50vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide {
    width: 100vw;
    height: 100vh;
}
.one{
    background: #efdefe;
}
.two{
    background: #a2f2d2;
}
.three{
    background: #0bbaa0;
} */


footer{
    color: var(--white);
    font-family: Anton;   
    text-align: center;
    width: 100vw;
} 

span{
    margin-top: 2rem;
}

 